DATABASE_URL="postgresql://USUARIO:PASSWORD@HOST-pooler.REGION.aws.neon.tech/dialo?sslmode=require"
DIRECT_URL="postgresql://USUARIO:PASSWORD@HOST.REGION.aws.neon.tech/dialo?sslmode=require"

PORT=3000
CLIENT_URL="http://localhost:5173"

RESEND_API_KEY=""
MAIL_FROM="Dialo <onboarding@resend.dev>"
